
.dash{
    padding: 4rem 2rem;
  text-align: center;
  background: linear-gradient(to right, #667eea, #764ba2);
  color: white;
}
.dash h1 {
  font-size: 2.5rem;
}
.dash p {
  margin: 1rem 0;
  font-size: 1.2rem;
}