.about-us {
  padding: 3rem 1rem;
  background: linear-gradient(to right, #0f172a, #1e293b);
  background-size: cover;
  background-repeat: repeat;
  font-family: 'Poppins', sans-serif;
  min-height: 80vh;
   
}


.about-us .container {
  max-width: 800px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.02); /* subtle glass effect */
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px);
}


.about-us h1 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #0ea5e9;
  text-align: center;
}

.about-us h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  color: #0ea5e9;
  border-left: 4px solid #0ea5e9;
  padding-left: 1rem;
}


.about-us p {
  font-size: 1.1rem;
  line-height: 1.7;
  margin-bottom: 1rem;
  color: 	#e2e8f0;
}

.about-us ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
  color: 	#e2e8f0;
}

.about-us ul li {
  font-size: 1.1rem;
  margin-bottom: 0.6rem;
}

.about-us a {
  color: #74acdb;
  text-decoration: none;
  font-weight: 600;
}

.about-us a:hover {
  text-decoration: underline;
}
